.bg-hotel{
    background: url("../../asset/images/hotel.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
}
.form{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}
ul li{
    list-style: none;
}
.active{
   background-color: #0C4DA2;
   text-decoration: none;
   color: #FFFFFF;
}
.text{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.travel-icon{
    padding: 0 0 0 10px;
}
.tab_box ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #0C4DA2;
    border-bottom: 0px;
}
.icnFlight{
    text-decoration: none;
}
.travel-icon{
    height: 30px;
}